<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>
    <div class="login-container">
        <h1>Inicia Sesión</h1>

        <% if (typeof error !=='undefined' ) { %>
            <div class="error">
                <%= error %>
            </div>
            <% } %>

                <form action="/login" method="POST">
                    <input type="text" name="username" placeholder="Usuari">
                    <input type="password" name="password" placeholder="Contrasenya">
                    <button type="submit">Entrar</button>
                </form>
    </div>
</body>

</html>